.consorcio-button {
    margin: 20px;
    --ion-color-primary: #7f08c9;
    --background-activated: #6907a6;
}

#background-content {
    background: #ddd!important;
}

ion-content {
    --ion-background-color: #e7e7e7;
}

ion-card {
    --ion-background-color: white;
}

ion-back-button {
    color: #612F47;
}

ion-title {
    color: #7f08c9;
}